<a href="https://colab.research.google.com/github/CorletteN/Autolib-France-Data/blob/main/Moringa_School_Corlette_Nyaundi_Wk_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

In [6]:
# Import the necessary python libraries
import pandas as pd
import numpy as np

In [7]:
#Upload datasets into environment and create dataframe
df = pd.read_csv('Autolib_dataset.csv')

# **1.0 Reading Dataset from CSV**

The data and the dataset description for this Independent project is available [http://bit.ly/autolib_dataset (Links to an external site.)] and here respectively [Link] 
Description: The dataset contains data collected for a period of 9 days.

In [8]:
#Upload datasets into environment, read the data from CSV and create dataframe
df = pd.read_csv('/content/Autolib_dataset.csv')

# **1.1 Dataset Preview**

In [9]:
#Confirm dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# **1.2 Get to know the dataset**

In [10]:
# We know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [11]:
df.shape

(5000, 25)

# **1.3 Let's get cleaning**

####1.3.1 Validity

In [12]:
#We start by dropping irrelevant columns
df.drop(['Charge Slots','Charging Status','ID','Displayed comment','Scheduled at', 'Slots','Geo point'], axis = 1, inplace = True)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 18 columns]

In [13]:
#Drop some more columns that are irrelevant to our current analysis
df.drop(['Cars', 'Public name','Status', 'Subscription status'],axis= 1, inplace = True)
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 14 columns]

####1.3.2 Accuracy & Uniformity

In [14]:
#Fix syntax errors
df.columns = df.columns.str.strip().str.replace(' ','_')
df.columns

Index(['Address', 'Bluecar_counter', 'Utilib_counter', 'Utilib_1.4_counter',
       'City', 'Kind', 'Postal_code', 'Rental_status', 'Station_type', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [15]:
#Change all column names to lower case
df.columns = map(str.lower, df.columns)
df.columns

Index(['address', 'bluecar_counter', 'utilib_counter', 'utilib_1.4_counter',
       'city', 'kind', 'postal_code', 'rental_status', 'station_type', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [16]:
len(df['address'].unique().tolist())

1104

###1.3.3 Completeness

In [17]:
#Check for null values
df.isnull().any()

address               False
bluecar_counter       False
utilib_counter        False
utilib_1.4_counter    False
city                  False
kind                  False
postal_code           False
rental_status         False
station_type          False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

###1.3.4 Consistency

In [18]:
#Check for duplicated rows
df.duplicated()
# and drop if any
df.drop_duplicates()
#There were no duplicates in this dataset

                                 address  bluecar_counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 14 columns]

###1.3.5 Datetime conversion

In [19]:
#We will need to convert the time data into datetime format
#Start by importing the datetime module
from datetime import datetime

#combining the year, month, day, hour, minute into one column

df['timestamp']= pd.to_datetime(df[['month', 'day', 'year','hour','minute']])
df.head()

                              address  ...           timestamp
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 15 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             5000 non-null   object
 1   bluecar_counter     5000 non-null   int64
 2   utilib_counter      5000 non-null   int64
 3   utilib_1.4_counter  5000 non-null   int64
 4   city                5000 non-null   object
 5   kind                5000 non-null   object
 6   postal_code         5000 non-null   int64
 7   rental_status       5000 non-null   object
 8   station_type        5000 non-null   object
 9   year                5000 non-null   int64
 10  month               5000 non-null   int64
 11  day                 5000 non-null   int64
 12  hour                5000 non-null   int64
 13  minute              5000 non-null   int64
 14  timestamp           5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(5)
memory usage: 586.1+ KB

In [21]:
df.columns

Index(['address', 'bluecar_counter', 'utilib_counter', 'utilib_1.4_counter',
       'city', 'kind', 'postal_code', 'rental_status', 'station_type', 'year',
       'month', 'day', 'hour', 'minute', 'timestamp'],
      dtype='object')

In [22]:
#Create new dataset excluding the irrelevant columns
df_clean = df.drop(['year','month', 'day', 'minute'], axis=1)
df_clean.head()

                              address  ...           timestamp
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 11 columns]

###1.4 Export the Clean Dataset

In [23]:
df_clean.to_csv('Autolib_clean.csv')